
.card-title {
	font-family: 'Open Sans', sans-serif;
	color: #1C6D53;
}
.card-text {
	font-family: 'Open Sans', sans-serif;
	color: #1C6D53;
}
.card {
	background-color: #E1E1E1;
}
.btn1 {
	background-color: #0091DB;
}