.navbar{
    background-color: transparent;
    padding-top: 20px;	
}
.nav-link {
	color: white !important;
}
.container2{

}
#allContent {
	background-color: #189CE3;
	background-size: 100%;
	opacity: 0.9; 
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: bottom;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#theSlogan {
	background-color: transparent;
	color: #4CFFE9; 
}

#theSlogan h1{
	padding-top: 10%;
	font-family: "Comic Sans MS", cursive, sans-serif; 

}


#brandTitle {
	margin-left: 10%;
}

#listElementsNavBar li{
	padding-left: 15%;
  	padding-right: 10%;
}